In [1]:
a = 2
b = 3

a + b

5

In [2]:
type(a)

int

In [3]:
a = 2.3

In [4]:
a + b

5.3

In [5]:
type(a)

float

In [6]:
type('Hello, world.')

str

In [7]:
' The Dude ' + 'abides'

' The Dude abides'

In [8]:
len('The Dude') + 3

11

In [9]:
"The Dude's rug"

"The Dude's rug"

In [10]:
my_str = """It was the best of times,
it was the worst of times..."""

print(my_str)

It was the best of times,
it was the worst of times...

In [11]:
5 % 3

2

In [12]:
5 // 3

1

In [13]:
2 / 3

0.6666666666666666

In [14]:
6 / 3

2.0

In [15]:
int(6 / 3)

2

In [16]:
int(2 / 3)

0

In [17]:
2.1 + 3.2

5.300000000000001

In [19]:
'4' + '2'

'42'

In [24]:
a = 4
a += 5

a

9

In [25]:
(2.1 + 3.2) == 5.3

False

In [26]:
type(False)

bool

In [27]:
a = 5
b = 5
c = 4

In [29]:
a == c

False

In [30]:
abs((2.1 + 3.2) - 5.3) < 1e-12

True

In [32]:
'ada' < 'aa'

False

Strings are coded in Unicode.

In [34]:
ord('a')

97

In [35]:
a = 5.6
b = a

a is b

True

In [45]:
stop_codons = ['UAA', 'UAG', 'UGA']
codon = 'UAA'

if codon == 'AUG':
    print("This is the start codon.")
    print("Begin translation.")
elif codon in stop_codons:
    print("This is stop codon.")
else:
    print == ('This is some amino acid.')

This is stop codon.

In [43]:
my_list_1 = [1, 2, 3, 4]
type(my_list_1)

list

In [44]:
my_list_1

[1, 2, 3, 4]

In [46]:
my_list_1[2]

3

In [54]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(id(my_list))

my_list[4] = 'four'

print(id(my_list))

4596610440
4596610440

In [48]:
my_list[0::2]

[0, 2, 4, 6, 8, 10]

In [49]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [51]:
my_list[2:-1:2]

[2, 4, 6, 8]

In [52]:
my_list[4] = "four"

In [53]:
my_list

[0, 1, 2, 3, 'four', 5, 6, 7, 8, 9, 10]

In [55]:
my_smaller_tuple = (1, 2, 3)

In [56]:
a, b, c = my_smaller_tuple

In [57]:
a

1

In [58]:
c

3

In [62]:
seq = 'AGCT'

n_gc = 0
len_seq = 0

for base in seq:
    print(base)
    len_seq += 1
    print('Is this a G or C?')
    if base in 'GgCc':
        print('I found a ' + base)
        n_gc +=1
    else:
        print('Nope')
    print("---")
        
n_gc / len_seq

A
Is this a G or C?
Nope
---
G
Is this a G or C?
I found a G
---
C
Is this a G or C?
I found a C
---
T
Is this a G or C?
Nope
---

0.5

In [75]:
my_list = [1, 2, 3, 4, 5]

In [76]:
len(my_list)

5

In [77]:
for i in range(len(my_list)):
    my_list[i] *= 2

In [78]:
my_list

[2, 4, 6, 8, 10]

In [85]:
seq = 'AGCTATTTGCTTGAGTCGTGTAGTCGTATGTCGTA'

# use enumerate instead of range-len syntax
for i, base in enumerate(seq):
    print(base, end=' ')

A G C T A T T T G C T T G A G T C G T G T A G T C G T A T G T C G T A

In [83]:
list(enumerate(seq))

[(0, 'A'),
 (1, 'G'),
 (2, 'C'),
 (3, 'T'),
 (4, 'A'),
 (5, 'T'),
 (6, 'T'),
 (7, 'T'),
 (8, 'G'),
 (9, 'C'),
 (10, 'T'),
 (11, 'T'),
 (12, 'G'),
 (13, 'A'),
 (14, 'G'),
 (15, 'T'),
 (16, 'C'),
 (17, 'G'),
 (18, 'T'),
 (19, 'G'),
 (20, 'T'),
 (21, 'A'),
 (22, 'G'),
 (23, 'T'),
 (24, 'C'),
 (25, 'G'),
 (26, 'T'),
 (27, 'A'),
 (28, 'T'),
 (29, 'G'),
 (30, 'T'),
 (31, 'C'),
 (32, 'G'),
 (33, 'T'),
 (34, 'A')]

In [90]:
my_list = [1, 2, 3, 4, 5]

In [91]:
for i, element in enumerate(my_list):
    my_list[i] *= 2
    
my_list

[2, 4, 6, 8, 10]

In [ ]:
my_str = 'abcdef'

for i, char in enumerate(my_str):
    if char == 'c':
        my_str[i] = 'C'

In [94]:
names = ['Lloyd', 'Holiday', 'Heath']
positions = ['MF', 'MF', 'F']
numbers = (10, 12, 17)

In [95]:
for num, pos, name in zip(numbers, positions, names):
    print(num, name, pos)

10 Lloyd MF
12 Holiday MF
17 Heath F

In [96]:
alphabet = ('a', 'b', 'c', 'd')

for letter in reversed(alphabet):
    print(letter)

d
c
b
a

In [1]:
seq = 'AUUAUUCAUCGUGAGCUAUUCGGGAUCGGAUUCGGAUUCGGAUUCGGAUUCGGAUUCGGAUCAUGGGGCUUAGGCUUAGGCUUAGC'

In [2]:
start = 'AUG'

i = 0

while seq[i:i+3] != start:
    i += 1
    
print('start is in ', i)

start is in  62